<body>
    <div class="overlay"></div> <!-- Capa transparente encima de la imagen de fondo -->
    <div class="container">
        <h2>SOBRE NOSOTROS</h2>
        <p>
            Estimado Cliente,
            <br><br>
            En <strong>ELECS</strong>, nos enorgullece ofrecerle lo último en tecnología y electrónica para satisfacer todas sus necesidades. Desde dispositivos móviles hasta equipos de entretenimiento en el hogar, tenemos todo lo que necesita para mantenerse conectado y disfrutar de la mejor experiencia tecnológica.
            <br><br>
            Nuestro compromiso con la calidad y el servicio al cliente nos distingue. Contamos con un equipo de expertos en electrónica listos para ayudarlo a encontrar el producto perfecto que se adapte a sus necesidades y presupuesto. Además, ofrecemos servicios de instalación y soporte técnico para garantizar que aproveche al máximo su compra.
            <br><br>
            Ya sea que esté buscando el último smartphone, una computadora portátil de última generación o accesorios para mejorar su experiencia de entretenimiento en el hogar, estamos aquí para ayudarlo. Visítenos hoy mismo y descubra por qué somos la opción preferida para los amantes de la tecnología.
            <br><br>
            ¡Esperamos darle la bienvenida a nuestra tienda pronto!
        </p>
    </div>
</body>